anyio==4.4.0
appdirs==1.4.4
certifi==2024.7.4
cmd-parser==0.0.1.dev2
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.7
notify-send==1.1.2
pluginbase==1.0.1
prompt_toolkit==3.0.47
pycairo==1.26.0
Pygments==2.18.0
PyGObject==3.48.2
pyradios==2.1.0
python-vlc==3.0.20123
setuptools==70.0.0
sniffio==1.3.1
streamscrobbler3==0.0.4
tinydb==4.8.0
wcwidth==0.2.13
mpv==1.0.7
